<?xml version="1.0"?>
<robot name="xtion">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <!-- TODO(eric.cousineau): Use actual inertial properties. -->
      <mass value="0.1"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/xtion.obj" />
      </geometry>
      <material name="dark">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <!-- TODO(eric.cousineau): Consider collision. -->
  </link>

  <!--
  Frame representing X_XB, pose of sensor frame (B) w.r.t. base_link (X).
  -->
  <frame name="sensor_frame" link="base_link"
      rpy="0 0 0" xyz="0.021 0 0.0325"/>
  <!--
  TODO(eric.cousineau): Once relative transforms between B, C, D can be
  defined, add these frames in.
  -->

</robot>
